/target/
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
dependency-reduced-pom.xml
.classpath
.project
sootOutput/
output/
output.zip
.settings/org.eclipse.core.resources.prefs
src/main/java/HelpMethods.java
src/main/java/ReadSourcesAndSinks.java
src/main/java/RunAllApps.java
src/main/java/Util.java
